<html>
<head>
<title>Modules - Droid PHP</title>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/yaml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/php.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1>Navigation</h1>

<ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/getting-started.html">Getting started</a></li>
    <li><a href="/task-arguments-and-variables.html" title="Task Arguments and Variables">Task Arguments and Variables</a></li>
    <li><a href="/enable-remote-command-execution.html" title="Enable Remote Command Execution">Enable remote command execution</a></li>
    <li><a href="/configuration-reference/index.html" title="Configuration Reference">Configuration reference</a>
        <ul>
            <li><a href="/configuration-reference/project.html" title="Project Configuration">Project</a></li>
            <li><a href="/configuration-reference/target.html" title="Target Configuration">Target</a></li>
            <li><a href="/configuration-reference/task.html" title="Task Configuration">Task</a></li>
            <li><a href="/configuration-reference/host.html" title="Host Configuration">Host</a></li>
            <li><a href="/configuration-reference/group.html" title="Group Configuration">Group</a></li>
            <li><a href="/configuration-reference/firewall-rule.html" title="Firewall Rule Configuration">Firewall Rule</a></li>
            <li><a href="/configuration-reference/module.html" title="Module Configuration">Module</a></li>
        </ul>
    </li>
    <li><a href="/modules.html" title="Modules">Modules - reusable Task lists</a></li>
    <li><a href="/command-reference/index.html" title="Command Reference">Command Reference</a></li>
    <li><a href="/command-plugins.html" title="Command Plugins">Command Plugins</a></li>
    <li><a href="/hacking.html" title="Hacking - Contributor&apos;s Guide">Hacking</a></li>
</ul>
    
        </div>
        <div class="col-md-6">
                        <h1>Modules</h1>
<p>A Module is a self contained unit of Tasks intended to achieve a particular
goal.  A Module is installed in a Droid Project where it is integrated with one
or more Targets.  A Module may provide file assets such as configuration
templates for use by its Tasks.</p>
<p>Droid can make use of locally developed Modules and those published in git
repositories.  A number of <a href="https://github.com/droid-php/?query=droid-module-" title="Droid Modules at GitHub">Modules are published as part of the Droid Project
on GitHub</a>.  Examples are <a href="https://github.com/droid-php/droid-module-timezone" title="A Droid module to change the time zone">droid-module-timezone</a> which
reconfigures the tzdata platform package to set the time zone;
<a href="https://github.com/droid-php/droid-module-apache-vhost" title="A Droid module to generate and enable Apache2 virtual hosts">droid-module-apache-vhost</a> which will set-up an Apache 2 virtual host; and
<a href="https://github.com/droid-php/droid-module-mysql-repln" title="A Droid module to configure MySQL Server for Binary Log Replication">droid-module-mysql-repln</a> which will configure a cluster of MySQL servers
for Binary Log replication.</p>
<p>We will see how to use a Module and how to create one.</p>
<h2>Use a Module</h2>
<p>A Module is first installed into the Project and then integrated with a Target.</p>
<h3>Installation</h3>
<p>To install a Module, we first register it with the Project by adding an entry
in the <code>modules</code> <a href="/configuration-reference/project.html" title="Project Configuration">Project Configuration</a>.  We provide a name by
which we will later refer to the Module and provide the source URL from where
it is obtained:-</p>
<pre><code class="language-yaml">name: "A Droid Project"
description: "This is an example of using a Module in a Droid Project"
modules:
    "timezone": "git@github.com:droid-php/droid-module-timezone.git"</code></pre>
<p>Next we execute the <code>module:install</code> Command at the command line:-</p>
<pre><code class="language-shell">$ vendor/bin/droid module:install</code></pre>
<p>which should result in the following output as the Module is installed:-</p>
<pre><code class="language-shell">Installing droid modules:
- timezone from git git@github.com:droid-php/droid-module-timezone.git
Cloning from git@github.com:droid-php/droid-module-timezone.git into droid-vendor/timezone
Cloning into 'droid-vendor/timezone'...
remote: Counting objects: 16, done.
remote: Total 16 (delta 0), reused 0 (delta 0), pack-reused 16
Receiving objects: 100% (16/16), done.
Resolving deltas: 100% (6/6), done.
Checking connectivity... done.
  Switching to branch master
Done</code></pre>
<p>The Module is installed into its own folder, within the Project's
<code>droid-vendor</code> folder.  When Droid encounters a reference to the Module, it
will look for it in a folder of the same name in two locations:-</p>
<ul>
<li><code>droid-vendor</code>: where Droid installs Modules obtained from git repositories.</li>
<li><code>modules</code>: where locally developed Modules should be placed. See the section
entitled &quot;Create a Module&quot;, for more information.</li>
</ul>
<p>We can make use of the Module now that it is installed.</p>
<h3>Integration with a Target</h3>
<p>The Tasks of a Module are executed as part of a Target in which the Module is
included.  To include a Module in a Target, we add an entry to the <code>modules</code>
[Target Configuration][conf-target].  We provide the same name we earlier gave
to the Module when it was registered with the Project:-</p>
<pre><code class="language-yaml">targets:
    make_website:
        modules:
            - "timezone"</code></pre>
<p>To complete the integration we provide any data expected by the Module's Tasks.
In this example, we want to provide time zone information.  The <a href="https://github.com/droid-php/droid-module-timezone/blob/master/README.md" title="Documentation of the timezone Droid module">timezone
Module documentation</a> reveals that we should provide
values for two Variables:-</p>
<pre><code class="language-text">timezone:
    area: &lt;string&gt;  # for example, "Europe"
    zone: &lt;string&gt;  # for example, "Amsterdam"</code></pre>
<p>We might provide these values as Project Variables where they are accessible to
all Tasks in the Project.  We would provide the values as Target variables if
we wished to use a Module in more than one Target and with different values.
We would provide the values as Host or Group Variables if we wished to run the
Module on a number of Hosts, each with differing values.  In this example, we
will provide them as Target Variables; so the Project configuration now looks
like the following:-</p>
<pre><code class="language-yaml">name: "A Droid Project"
description: "This is an example of using a Module in a Droid Project"
modules:
    "timezone": "git@github.com:droid-php/droid-module-timezone.git"
targets:
    variables:
        timezone:
            area: "Europe"
            zone: "Berlin"
    make_website:
        modules:
            - "timezone"</code></pre>
<p>The Module is now integrated with the Target named <code>make_website</code>: when the
Target is run, the Tasks of the Module will be executed.</p>
<p>Multiple Modules may be integrated with a Target in this way and their order of
execution is the order in which they appear in the list of Target <code>modules</code>.</p>
<p>The Tasks of Modules will execute before those of the Target itself. So, the
Target Task in the following example would display &quot;Europe/Berlin&quot; instead of
whatever was the zone before the Module changed it:-</p>
<pre><code class="language-yaml">targets:
    variables:
        timezone: {area: "Europe", zone: "Berlin"}
    make_website:
        tasks:
            - command: "shell:exec"
              arguments:
                  command-line: "head /etc/timezone"
        modules:
            - "timezone"</code></pre>
<p>The order in which <code>tasks</code> and <code>modules</code> were declared in this example is
therefore confusing: it is clearer when we declare them the other way round.</p>
<p>We have seen how to use a Module in a Project.  Let us now look at how to
create one.</p>
<h2>Create a Module</h2>
<p>To demonstrate the creation of a Module, let us go through the process from the
beginning.  We shall see how to create a Module that will set-up scheduled
backups using the duplicity backup software.  The requirements of the Module
are that it should:-</p>
<ul>
<li>provide for three cron jobs: full backup, incremental backup and removal of
old backups</li>
<li>allow the backup schedule to be configurable</li>
<li>allow configuration of a list of files to be excluded from the backup</li>
<li>allow configuration of the destination folder for the backup files</li>
<li>allow configuration of the number of backup sets to keep</li>
<li>allow configuration of the backup name</li>
</ul>
<p>To keep this example from getting too in-depth, we will:-</p>
<ul>
<li>backup as the root user: our Module won't need to create user accounts or
deal with file access privileges</li>
<li>backup the root of the file system</li>
<li>set the backup destination as somewhere on the same file system instead of
dealing with the various destination options duplicity provides</li>
</ul>
<p>Let's begin. First we will create a folder for the Module in an existing Droid
Project.  We shall name our module &quot;duplicity-backup&quot;:-</p>
<pre><code class="language-shell">$ cd myproject
$ mkdir -p modules/duplicity-backup</code></pre>
<p>We create a <a href="/configuration-reference/module.html" title="Module Configuration">Module Configuration</a> at
<code>modules/duplicity-backup/droid.yml</code> with the following content:-</p>
<pre><code class="language-yaml">description: "Set up duplicity backup"
variables:
    mod_duplicity_backup: {}
tasks: []</code></pre>
<p>We've given a description of the module and defined a Variable named
<code>mod_duplicity_backup</code>.  The Variable will be used to provide data to the Tasks
and can be overridden in the Projects which use the Module.  The name of the
Variable is a convention which helps make it clear that the data pertains to
this Module.</p>
<p>Our first Task will install the <code>duplicity</code> package.  For this we will use the
<code>apt-get:install</code> Droid Command.  Its help text shows us its arguments and
options:-</p>
<pre><code class="language-shell">$ vendor/bin/droid help apt-get:install
Usage:
  apt-get:install &lt;package&gt;

Arguments:
  package               Name of the package(s) to install

Options:
  -h, --help            Display this help message
  -q, --quiet           Do not output any message
  -V, --version         Display this application version
      --ansi            Force ANSI output
      --no-ansi         Disable ANSI output
  -n, --no-interaction  Do not ask any interactive question
  -v|vv|vvv, --verbose  Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug

Help:
  Installs package(s) through apt-get on Debian based systems</code></pre>
<p>So we add our first Module Task:-</p>
<pre><code class="language-yaml">description: "Set up duplicity backup"
variables:
    mod_duplicity_backup: {}
tasks:
    - name: "Install duplicity"
      command: "apt-get:install"
      sudo: true
      arguments:
          package: "duplicity"</code></pre>
<p>We use the <code>sudo</code> property of the Task so that the command is executed with the
privileges it demands.</p>
<p>Next, we want to be able to provide a file to duplicity which will contain a
list of files to exclude from the backup.  We will create a file template that
our next Task will populate and copy to somewhere duplicity can read it.  We
need a Variable to provide a list of excluded files and we can provide a
sensible default list:-</p>
<pre><code class="language-yaml">variables:
    mod_duplicity_backup:
        excluded_files:
            - "/dev/*"
            - "/media/*"
            - "/proc/*"
            - "/run/*"
            - "/sys/*"
            - "/tmp/*"</code></pre>
<p>Now we need a file template into which we'll write the list of excluded files.
We create a folder within the Module to hold such &quot;assets&quot; as this:-</p>
<pre><code class="language-shell">$ mkdir modules/duplicity-backup/assets</code></pre>
<p>and we create a template file <code>assets/excluded-files.list.template</code> with the
following content:-</p>
<pre><code class="language-twig">{% for file in mod_duplicity_backup.excluded_files %}
{{ file }}
{% endfor %}</code></pre>
<p>The content of the template is <a href="http://twig.sensiolabs.org/doc/templates.html" title="Twig for Template Designers">Twig syntax</a>.  It will cause each
entry of the <code>mod_duplicity_backup.excluded_files</code> Variable to be printed on
its own line.</p>
<p>We must make sure we don't backup the backup!.  Let's add another Variable to
hold the path to the backup destination (again, providing a sensible default)
and then make sure this is also written into our excluded files list:</p>
<pre><code class="language-yaml">variables:
    mod_duplicity_backup:
        ...
        destination: "/var/backup"</code></pre>
<p>Our template now looks like this:-</p>
<pre><code class="language-twig">{% for file in mod_duplicity_backup.excluded_files %}
{{ file }}
{% endfor %}
{{ mod_duplicity_backup.destination }}</code></pre>
<p>We will use the <code>fs:copy</code> Droid Command to copy the content of the file to the
Host.  Droid will use the Twig template engine to transform the template into
the desired content.  Here is the next Module Task:-</p>
<pre><code class="language-yaml">tasks:
    ...
    - name: "Copy the list of excluded files"
      command: "fs:copy"
      sudo: true
      arguments:
          src: "@{{ mod_path }}/assets/excluded-files.list.template"
          dest: "/root/excluded-files.list"</code></pre>
<p>Note that we have used a the name of a magic Variable in the <code>src</code> Task
Argument: <code>mod_path</code> is the path to the Module's folder and allows a Module to
locate itself and its assets.</p>
<p>Next, we schedule the duplicity backups.  We need a few more Variables:-</p>
<pre><code class="language-yaml">variables:
    mod_duplicity_backup:
        ...
        name: "backup"
        max_sets: 2
        schedule:
            cleanup: "30 12 * * mon"
            full: "30 5 * * mon"
            incremental: "30 5 * * 2-7"</code></pre>
<p>We provided some sensible default values for the name of the backup; for the
maximum number of backup sets to keep when older backups are removed; and for
the schedules for each of the backup jobs, in the usual cron format.  We will
use the <code>cron:addjob</code> Droid Command to add the three jobs to the crontab:-</p>
<pre><code class="language-yaml">tasks:
    ...
    - name: "Schedule the removal of old backups"
      command: "cron:addjob"
      sudo: true
      arguments:
          name: "{{ mod_duplicity_backup.name }}_cleanup"
          schedule: "{{ mod_duplicity_backup.schedule.cleanup }}"
          username: "root"
          job-command: &gt;
                         /usr/bin/duplicity
                         remove-all-but-n-full {{ mod_duplicity_backup.max_sets }}
                         --name {{ mod_duplicity_backup.name }} --force
                         file://{{ mod_duplicity_backup.destination }}
    - name: "Schedule the full backup"
      command: "cron:addjob"
      sudo: true
      arguments:
          name: "{{ mod_duplicity_backup.name }}_full"
          schedule: "{{ mod_duplicity_backup.schedule.full }}"
          username: "root"
          job-command: &gt;
                         /usr/bin/duplicity full --no-encryption
                         --no-print-statistics
                         --name {{ mod_duplicity_backup.name }}
                         --exclude-globbing-filelist /root/excluded-files.list
                         / file://{{ mod_duplicity_backup.destination }}
    - name: "Schedule the incremental backup"
      command: "cron:addjob"
      sudo: true
      arguments:
          name: "{{ mod_duplicity_backup.name }}_incremental"
          schedule: "{{ mod_duplicity_backup.schedule.incremental }}"
          username: "root"
          job-command: &gt;
                         /usr/bin/duplicity incr --no-encryption
                         --no-print-statistics
                         --name {{ mod_duplicity_backup.name }}
                         --exclude-globbing-filelist /root/excluded-files.list
                         / file://{{ mod_duplicity_backup.destination }}</code></pre>
<p>The <code>job-command</code> Task Argument takes advantage of Yaml's &quot;folded style&quot; which
will result in one (long) line with the new lines and extra white space
removed.</p>
<p>Our Module is now functionally complete and can be integrated into a Target in
our Droid Project.  Let's create the Project configuration file:-</p>
<pre><code class="language-yaml">name: "Testing the duplicity-backup Module"
modules:
    "duplicity-backup": ""
targets:
    setup_backup:
        hosts: my-test-machine
        modules:
            - "duplicity-backup"
hosts:
    my-test-machine:
        droid_ip: "198.51.100.1"
variables:
    mod_duplicity_backup:
        excluded_files:
            - "/dev/*"
            - "/media/*"
            - "/proc/*"
            - "/run/*"
            - "/sys/*"
            - "/tmp/*"
            - "/usr/local/droid/*"</code></pre>
<p>In the Project configuration we have registered the Module with the Droid
Project by providing an entry in the Project <code>modules</code>.  Since this is a
locally developed Module there is a need neither to provide a source URL for
it, nor to install the Module with the <code>module:install</code> Command.  We do need to
make sure that the name we gave matches the Module's folder name, so that Droid
can locate it.  We have included the Module in a Target named <code>setup_backup</code>
which execute Commands on the Host named <code>my-test-machine</code>.  Finally, we
override one of the Variables <code>mod_duplicity_backup.excluded_files</code> so that we
may exclude some additional files.</p>
<p>Our Project folder should now look like this:-</p>
<pre><code class="language-text">myproject
|_ droid.yml
|_ modules
   |_ duplicity-backup
      |_ droid.yml
      |_ assets
         |_ excluded-files.list.template</code></pre>
<p>We are ready to run the <code>setup_backup</code> Target:-</p>
<pre><code class="language-shell">$ vendor/bin/droid setup_backup</code></pre>
<p>We should see something like the following output (this example has been
shortened for clarity):-</p>
<pre><code class="language-shell">Droid: Running target `setup_backup`
Task `Install duplicity`: apt-get:install on my-test-machine
Host my-test-machine: package=duplicity
my-test-machine Begin droid enablement.
my-test-machine Finished droid enablement. Success.
my-test-machine apt-get install -y duplicity
my-test-machine Reading package lists...
...
my-test-machine The following NEW packages will be installed:
my-test-machine   duplicity librsync1 python-lockfile
...
Task `Copy the list of excluded files`: fs:copy on my-test-machine
Host my-test-machine: src=data:application/octet-stream;base64,L2i...
my-test-machine {"changed":true,"start":1478215336.3923,"end":1478215336.3924}
Task `Schedule the removal of old backups`: cron:addjob on my-test-machine
Host my-test-machine: name=backup_cleanup schedule=30 12 * * mon ...
my-test-machine I have successfully created the job "droid_backup_cleanup".
my-test-machine {"changed":true,"start":1478215337.0049,"end":1478215337.0057}
Task `Schedule the full backup`: cron:addjob on my-test-machine
Host my-test-machine: name=backup_full schedule=30 5 * * mon username=root ...
my-test-machine I have successfully created the job "droid_backup_full".
my-test-machine {"changed":true,"start":1478215337.6269,"end":1478215337.6277}
Task `Schedule the incremental backup`: cron:addjob on my-test-machine
Host my-test-machine: name=backup_incremental schedule=30 5 * * 2-7 ...
my-test-machine I have successfully created the job "droid_backup_incremental".
my-test-machine {"changed":true,"start":1478215338.2342,"end":1478215338.2348}
Result: 0
--------------------------------------------</code></pre>
<p>Success!  Duplicity is installed and three jobs were placed into <code>/etc/cron.d</code>:
one for the cleanup; one for the full backup; and one for the incremental.</p>
<p>This Module may now be reused in this or in other Projects and is easily
configured with different schedules, excluded files and so on.</p>
                    </div>
        <div class="col-md-3"></div>
    </div>
</div>

</body>
</html>
